{{#extends 'base'}}

{{#block 'content'}}
<h1>Your Shopping Cart</h1>
<ul class="list-group">
    {{#each cartItems}}
        <li class="list-group-item">
            <h4>{{this.product.name}}</h4>
            <h5>Category: {{this.product.category.name}}</h5>
            <h5>Cost: {{this.product.cost}}</h5>
            <h5>Quantity: {{this.quantity}}</h5>
            <a href="/shoppingCart/{{this.product_id}}/remove" class="btn btn-primary">Remove</a>
        </li>
    {{/each}}
</ul>
{{/block}}

{{/extends}}